.back {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    font-size: 1.5rem;
    color: rgb(250, 99, 17);
}
.input{
    outline: none;
    border: none;
    width: 250px;
    height: 40px;
}
.vach {
    background-color: #d1d0d0;
    height: 1px;
    margin: 2px 30px 2px 30px;
}
.bottom {
    padding-top: 300px;
    display: flex;
    justify-content: space-around;
    margin: 0 20px 0 20px;
}
.button {
    background-color: rgb(250, 99, 17);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: #fff;
    font-weight: 500;
}
.vt {
    background-color: rgb(250, 99, 17);
    width: 40px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: #fff;
    padding-top: 5px;
    font-size: 30px;
}
.xacthuc {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.qmk {
    margin-top: 30px;
    color: rgb(250, 99, 17);
}
.name__screen {
    color: rgb(250, 99, 17);
    font-size: 1.1rem;
    margin: 20px 0 20px 0;
    font-weight: bold;
}
.name {
    color: rgb(163, 27, 6);
    font-size: 1.2rem;
    font-weight: 500;
}
.icon {
    margin-right: 10px;
}