body{
    background-color: #333;
    margin: 0;
}
.phone {
    margin: 10px 575px 10px 575px;
    height: 94.5vh;
    background-color: #fff;
    border-radius: 60px;
    border: solid 10px black;
}
.phone__header {
    margin-top: 2%;
    background-color: black;
    width: 100px;
    margin-left: 35%;
    border-radius: 100px;
}
.phone__main {
    height: 92%;
    border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.phone__footer {
    background-color: black;
    height: 6px;
    margin-left: 35%;
    width: 100px;
    border-radius: 100px;
}